.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: var(--border);
    position:fixed;
    z-index: 2;
}

.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
        img{
            width: auto;
            height: 30px;
            filter:var(--logo-filter);
            @media screen and (min-width: 2000px){
                width: auto;
                height: 30px;
            }
        }
    }
    
}

.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li{
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;
        
        div{
            width:5px;
            height:5px;
            background:transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        a{
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: var(--secondary-color);
            }
        }
        &:hover{
            div{
                background: var(--secondary-color);
            }
        }
    }
    @media screen and (max-width: 1250px){
        display: none;
        
    }
}
.resume{
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    font-size: 80%;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    color: #fff;
    outline: none;
    font-family: var(--font-base);
    cursor: pointer;
    &:hover{
        box-shadow: var(--nav-menu-shadow);
    }
    @media screen and (max-width:600px) {
        font-size: 70%;
        padding: 0.3rem 0.8rem;
    }
}
.btn{
    padding: 0.3rem 0.8rem;
    margin-left: 0.5rem;
    font-size: 90%;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    color: #fff;
    outline: none;
    font-family: var(--font-base);
    cursor: pointer;
    &:hover{
        box-shadow: var(--nav-menu-shadow);
    }
    @media screen and (max-width:600px) {
        font-size: 80%;
        padding: 0.3rem 0.8rem;
    }
} 
.app__navbar-menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color2);
    opacity: 100%;

    svg{
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }
    div{

        position: fixed;
        top: 0;
        bottom: 0;
        right:0;
        z-index:5;
        padding: 1px;
        width: 80%;
        height: 100vh;
        opacity: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: var(--primary-color);
        background-size: cover;
        background-repeat: repeat;

        box-shadow: var(--box-shadow);

        svg{
            width: 35px;
            height: 35px;
            color: var(--white-color);
            margin: 0.5rem 1rem;
            cursor: pointer;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li{
                margin: 1rem;

                a{
                    color:var(--white-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: var(--secondary-color);
                    }
                }
            }
        }

        @media screen and (min-width:1250px) {
            display:none;
        }
    }

    @media screen and (min-width:1250px){
        display:none;
    }
}